/Scripts/first_django_app/.idea/.name
/Scripts/first_django_app/.idea/dataSources.ids
/Scripts/first_django_app/.idea/dataSources.xml
/Scripts/first_django_app/.idea/encodings.xml
/Scripts/first_django_app/.idea/first_django_app.iml
/Scripts/first_django_app/.idea/misc.xml
/Scripts/first_django_app/.idea/modules.xml
/Scripts/first_django_app/.idea/scopes/scope_settings.xml
/Scripts/first_django_app/.idea/vcs.xml
/Scripts/first_django_app/.idea/workspace.xml
/Scripts/first_django_app/article/__init__.pyc
/Scripts/first_django_app/article/admin.pyc
/Scripts/first_django_app/article/forms.pyc
/Scripts/first_django_app/article/migrations/0001_initial.pyc
/Scripts/first_django_app/article/migrations/0002_auto_20140909_1135.pyc
/Scripts/first_django_app/article/migrations/__init__.pyc
/Scripts/first_django_app/article/models.pyc
/Scripts/first_django_app/article/urls.pyc
/Scripts/first_django_app/article/views.pyc
/Scripts/first_django_app/first_django_app/__init__.pyc
/Scripts/first_django_app/first_django_app/settings.pyc
/Scripts/first_django_app/first_django_app/urls.pyc
/Scripts/first_django_app/first_django_app/wsgi.pyc
