/Scripts/first_django_app/.idea/.name
/Scripts/first_django_app/.idea/dataSources.ids
/Scripts/first_django_app/.idea/dataSources.xml
/Scripts/first_django_app/.idea/encodings.xml
/Scripts/first_django_app/.idea/first_django_app.iml
/Scripts/first_django_app/.idea/misc.xml
/Scripts/first_django_app/.idea/modules.xml
/Scripts/first_django_app/.idea/scopes/scope_settings.xml
/Scripts/first_django_app/.idea/vcs.xml
/Scripts/first_django_app/.idea/workspace.xml
/Scripts/first_django_app/article/__init__.pyc
/Scripts/first_django_app/article/admin.pyc
/Scripts/first_django_app/article/forms.pyc
/Scripts/first_django_app/article/migrations/0001_initial.pyc
/Scripts/first_django_app/article/migrations/0002_auto_20140909_1135.pyc
/Scripts/first_django_app/article/migrations/__init__.pyc
/Scripts/first_django_app/article/models.pyc
/Scripts/first_django_app/article/urls.pyc
/Scripts/first_django_app/article/views.pyc
/Scripts/first_django_app/first_django_app/__init__.pyc
/Scripts/first_django_app/first_django_app/settings.pyc
/Scripts/first_django_app/first_django_app/urls.pyc
/Scripts/first_django_app/first_django_app/wsgi.pyc
/Scripts/first_django_app/loginsys/__init__.pyc
/Scripts/first_django_app/loginsys/admin.pyc
/Scripts/first_django_app/loginsys/migrations/__init__.pyc
/Scripts/first_django_app/loginsys/models.pyc
/Scripts/first_django_app/loginsys/urls.pyc
/Scripts/first_django_app/loginsys/views.pyc
/Scripts/first_django_app/article/migrations/0003_auto_20140912_1202.pyc
/Scripts/first_django_app/article/migrations/0004_comments_user.pyc
/Scripts/first_django_app/article/migrations/0005_comments_date.pyc
/Scripts/first_django_app/notebook/__init__.pyc
/Scripts/first_django_app/notebook/migrations/__init__.pyc
/Scripts/first_django_app/notebook/admin.pyc
/Scripts/first_django_app/notebook/models.pyc
/Scripts/first_django_app/notebook/urls.pyc
/Scripts/first_django_app/notebook/views.pyc
/Scripts/first_django_app/backbone/__init__.pyc
/Scripts/first_django_app/backbone/migrations/__init__.pyc
/Scripts/first_django_app/backbone/admin.pyc
/Scripts/first_django_app/backbone/models.pyc
/Scripts/first_django_app/backbone/urls.pyc
/Scripts/first_django_app/backbone/views.pyc
/Scripts/first_django_app/filepicker/views.pyc
/Scripts/first_django_app/filepicker/__init__.pyc
/Scripts/first_django_app/filepicker/admin.pyc
/Scripts/first_django_app/filepicker/forms.pyc
/Scripts/first_django_app/filepicker/migrations/__init__.pyc
/Scripts/first_django_app/filepicker/models.pyc
/Scripts/first_django_app/filepicker/urls.pyc
/Scripts/first_django_app/filepicker/migrations/0001_initial.pyc
/Scripts/first_django_app/notebook/migrations/0001_initial.pyc
/Scripts/first_django_app/myorder/migrations/0002_auto_20140929_1624.pyc
/Scripts/first_django_app/article/migrations/0006_auto_20140929_1512.pyc
/Scripts/first_django_app/article/migrations/0007_auto_20140929_1522.pyc
/Scripts/first_django_app/article/migrations/0008_auto_20140929_1624.pyc
/Scripts/first_django_app/article/migrations/0009_auto_20140929_1624.pyc
/Lib/site-packages/backbone/__init__.pyc
/Lib/site-packages/backbone/tests/__init__.pyc
/Lib/site-packages/backbone/tests/admin.pyc
/Lib/site-packages/backbone/tests/backbone_api.pyc
/Scripts/first_django_app/notebook/backbone_api.pyc
/Lib/site-packages/backbone/tests/forms.pyc
/Lib/site-packages/backbone/models.pyc
/Lib/site-packages/backbone/tests/models.pyc
/Lib/site-packages/backbone/tests/settings.pyc
/Lib/site-packages/backbone/sites.pyc
/Lib/site-packages/backbone/tests/tests.pyc
/Lib/site-packages/backbone/tests/urls.pyc
/Lib/site-packages/backbone/tests/views.pyc
/Lib/site-packages/backbone/views.pyc
/Lib/site-packages/django_backbone-0.3.2-py2.7.egg-info/dependency_links.txt
/Lib/site-packages/django_backbone-0.3.2-py2.7.egg-info/installed-files.txt
/Lib/site-packages/django_backbone-0.3.2-py2.7.egg-info/SOURCES.txt
/Lib/site-packages/django_backbone-0.3.2-py2.7.egg-info/top_level.txt
/Scripts/first_django_app/myorder/migrations/0001_initial.pyc
/Scripts/first_django_app/mybackbone/__init__.pyc
/Scripts/first_django_app/mybackbone/migrations/__init__.pyc
/Scripts/first_django_app/myorder/__init__.pyc
/Scripts/first_django_app/myorder/migrations/__init__.pyc
/Scripts/first_django_app/mybackbone/admin.pyc
/Scripts/first_django_app/myorder/admin.pyc
/Scripts/first_django_app/myorder/backbone_api.pyc
/Scripts/first_django_app/mybackbone/models.pyc
/Scripts/first_django_app/myorder/models.pyc
/Scripts/first_django_app/mybackbone/tests.pyc
/Scripts/first_django_app/mybackbone/urls.pyc
/Scripts/first_django_app/myorder/urls.pyc
/Scripts/first_django_app/mybackbone/views.pyc
/Scripts/first_django_app/myorder/views.pyc
